@font-face {
    font-family: "Odysseus";
    src: url("fonts/BlueScreenPersonalUseRegular-0W1M9.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: "Odysseus";
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::-moz-selection {
    /*for Firefox */
    color: #111;
    background: #d16a00;
}

::selection {
    color: #111;
    background: #d16a00;
}